{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <h1>Quack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quack.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ quack.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% for comment in comments %}
        {% if comment.parent == quack.id %}
            Commentaire: {{ comment.content }}
            <br>
            De: {{ comment.duck.duckname }}
            <br>
        {% endif %}
    {% endfor %}
    <a href="{{ path('app_quack_index') }}"><button>Retour</button></a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_quack_edit', {'id': quack.id}) }}"><button>Edit</button></a>

    {{ include('quack/_delete_form.html.twig') }}
    {%  endif %}
{% endblock %}
