{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Vous êtes connecté en tant que: </h1>
<p>Votre duckname: {{ user.duckname }}</p>
    <p>Prénom: {{ user.firstname }}</p>
    <p>Nom: {{ user.lastname }}</p>
    <p>Email:  {{ user.email }}</p>
    <a href="{{ path('app_logout') }}"><button>Logout</button></a>
    <a href="{{ path('app_dashboard_edit') }}"><button>Edit profile</button></a>
    {{ dump(user) }}
</div>




{% endblock %}
