{% extends '/base.html.twig' %}

{% block title %}Duck{% endblock %}

{% block body %}

        {% include 'header.html.twig' %}

    <h1 class="text-3xl text-white font-bold mb-4 text-center">Votre Duck</h1>
<div class="p-5 flex justify-center items-center ">
    <div class=" text-center text-white ">
        <div>
        <div class="p-1 box-border bg-white rounded-lg m-2">
            <div class="text-black px-1 py-1 ">Id</div>
            <div class="text-black px-1 py-1">{{ duck.id }}</div>
        </div>
        <div class="p-2 box-border bg-white rounded-lg m-2">
            <div class="text-black px-1 py-1 ">Votre Duckname</div>
            <div class="text-black px-1 py-1">{{ duck.duckname }}</div>
        </div>
        <div class="p-1 box-border bg-white rounded-lg m-2">
            <div class="text-black px-1 py-1">Votre "rôle"</div>
            <div class="text-black px-1 py-1">{{ duck.roles ? duck.roles|json_encode : '' }}</div>
        </div>
        <div class="p-1 box-border bg-white rounded-lg m-2">
            <div class="text-black px-1 py-1">Firstname</div>
            <div class="text-black px-1 py-1">{{ duck.firstname }}</div>
        </div>
        <div class="p-1 box-border bg-white rounded-lg m-2">
            <div class="text-black px-1 py-1">Lastname</div>
            <div class="text-black px-1 py-1">{{ duck.lastname }}</div>
        </div>
        <div class="p-1 box-border bg-white rounded-lg m-2">
            <div class="text-black px-1 py-1">Email</div>
            <div class="text-black px-1 py-1">{{ duck.email }}</div>
        </div>
        </div>
    </div>
</div>
    <div class="mt-4 text-center">
        <a class="px-3 py-1 rounded-full text-white bg-blue-400 hover:bg-blue-500" href="{{ path('app_dashboard_edit', {'id': duck.id}) }}">Edit</a>
        <a class="px-3 py-1 rounded-full text-white bg-blue-400 hover:bg-blue-500" href="{{ path('app_quack_index') }}">Voir tous les quacks</a>
    </div>
{% endblock %}